@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap");

* {
  font-family: "Kanit", sans-serif;
}

.product_name {

}

.product_price {

}

.bath {

}

.progress_bar {

}

.progress_label {

}

/* card */
.card_wrapper {
  margin: 25px;
  width: 17rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  height: auto;
}
.card_container {
  border-color: rgba(255, 255, 255, 0);
}
/* select */
.select_productType {
  width: 195px;
  border: 0px;
  font-weight: bold;
  font-size: 14px;
  margin-top: 1rem;
}
/* dash board */
.con {
  display: flex;
  justify-content: center;
  font-size: 1rem;

  .card_po {
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .item {
    margin: 0.4rem;
  }

  .text_muted {
    font-size: 0.8rem;
  }
}
/* search  */
.search_bar {
  margin-top: 2rem;
  width: 50%;
  height: 45px;
  border-radius: 200px;
  transition: background-color 0.3s;
  z-index: -1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.search_bar:hover {
  background-color: #d6d3cc;
}

/* tabet */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* dash board */
  .con {
    display: block;
  }
  /* search */
  .search_bar {
    width: 100%;
  }
}
/* mobile */
@media screen and (max-width: 768px) {
  /* dash board */
  .con {
    display: block;
  }
  /* search */
  .search_bar {
    width: 100%;
  }
}