.sticky-right {
  position: sticky;
  z-index: 1;
  top: 0;
  right: 80px;
  background-color: var(--table-background);
}
.sticky-right2 {
  position: sticky;
  z-index: 2;
  top: 0;
  right: -1px;
  background-color: var(--table-background);
}

.sticky-right3 {
  position: sticky;
  z-index: 2;
  top: 0;
  right: 80px;
  background-color: var(--table-background);
}
.sticky-right4 {
  position: sticky;
  z-index: 2;
  top: 0;
  right: -5px;
  background-color: var(--table-background);
}

@-webkit-keyframes hvr-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes hvr-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.bt {
  --yellow: #fcda05;
  --primary: blue;
  height: 35px;
  width: 70px;
  border-radius: 50px;
  background-color: var(--yellow);
  color: var(--primary);
  outline: none;
  font-weight: 700;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: all 0s ease-in-out;

  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.bt:hover,
.bt:focus,
.bt:active {
  background-color: var(--yellow);
  color: var(--primary);

  -webkit-animation-name: hvr-wobble-horizontal;
  animation-name: hvr-wobble-horizontal;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
